.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    font-family: "Nothing You Could Do", cursive;
}
button{
    padding: 32px;
    border-radius: 10px;
    margin: 50px;
    font-family: "Special Elite";
    background-color: #6495ed;
}

.results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: "Caveat Brush";
}
.scores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

body{
    background-color: #a9cce3;
}